{% extends "base.html" %} 

{% block content %}

    <section>
        <h2 class="text-xl mb-2"> Patient table Azure</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">Id</th>
                    <th class="px-4 py-2">DOB</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data_azure.values %}
                <tr>
                    <td class="border px-4 py-2">{{ data[0] }}</td>
                    <td class="border px-4 py-2">{{ data[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2 class="text-xl mb-2">Admission table Azure</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">Id</th>
                    <th class="px-4 py-2">Date</th>
                    <th class="px-4 py-2">Patient ID</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data2_azure.values %}
                <tr>
                    <td class="border px-4 py-2">{{ data[0] }}</td>
                    <td class="border px-4 py-2">{{ data[1] }}</td>
                    <td class="border px-4 py-2">{{ data[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>


    <section>
        <h2 class="text-xl mb-2"> Patient table GCP</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">Id</th>
                    <th class="px-4 py-2">DOB</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data_gcp.values %}
                <tr>
                    <td class="border px-4 py-2">{{ data[0] }}</td>
                    <td class="border px-4 py-2">{{ data[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2 class="text-xl mb-2">Admission table GCP</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">Id</th>
                    <th class="px-4 py-2">Date</th>
                    <th class="px-4 py-2">Patient ID</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data2_gcp.values %}
                <tr>
                    <td class="border px-4 py-2">{{ data[0] }}</td>
                    <td class="border px-4 py-2">{{ data[1] }}</td>
                    <td class="border px-4 py-2">{{ data[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <body>

{% endblock %}